body {
  margin: 0;
  overflow: hidden;
  background: radial-gradient(circle, #050010, black);
}

#startBtn {
  position: absolute;
  z-index: 10;
  top: 20px;
  left: 20px;
  padding: 12px 20px;
  background: cyan;
  border: none;
  border-radius: 12px;
  box-shadow: 0 0 20px cyan;
  font-weight: bold;
}

/* 🔥 Kamera terlihat */
video {
  position: absolute;
  width: 140px;
  bottom: 10px;
  right: 10px;
  opacity: 0.4;
  border-radius: 10px;
}